body{
    font-family: 'Arial';
    padding: 0px;
    margin:0px;
    background-color: #172b3c;
    color: #212225;
}

button{
    padding: 8px 20px;
    font-size: 14px;
    color: #fafafa;
    background: #2e3e4c;
    border-radius: 8px;
    margin: 8px 0;
    border: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: 'Georgia';
}

h4{
    font-weight: 300;
}

.input{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
    margin-bottom: 5px;
}

input.vertical {
    transform: rotate(-90deg);
    transform-origin: center;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    position: relative;
    top: -10px;
    touch-action: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: #dcdcdc;
    border-radius: 25px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    border: 5px solid #232323;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #323232;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dfdfdf;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: #dcdcdc;
    border-radius: 25px;
    border: none;
}

input[type=range]::-moz-range-thumb {
    border: 5px solid #232323;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #323232;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #d9d9d9;
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
    background: #dcdcdc;
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    border: 5px solid #232323;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #323232;
    cursor: pointer;
    height: 14px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #dcdcdc;
}

input[type=range]:focus::-ms-fill-upper {
    background: #dfdfdf;
}


#app{
    background-color: #fff;
    box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

.half{
    width: 50%;
    float: left;
    position: relative;
}



canvas.gauge {
    width: 100% !important;
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#interface{
    width: 100%;
}

@media (min-width: 540px) {

    #app{
        max-width: 700px;
        margin: 50px auto;
        border-radius: 5px;
        background: #dddddd;
        overflow: hidden;
    }

    #interface{
        width: 50%;
        float: left;
        background: #fff;
    }

    #config{

        display: block;
        width: 50%;
        float: left;
    }

}

.container{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.content{
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.content::after {
    display: block;
    clear: both;
    content: "";
}

#topbar{
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
}

#topbar h1#title{
    padding: 12px 0;
    margin: 0px;
    font-size: 24px;
}

#topbar span {
    position: absolute;
    left: 178px;
    top: 14px;
    font-size: 12px;
}

#angle{
    margin: auto;
    display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#joystick{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 3px solid #dcdcdc;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0 auto;
}

#joystick .value{
    width: 100%;
    display: block;
    padding-right: 12px;
    font-size: 14px;
    padding-bottom: 8px;
}


#joystick .value span{
    color: #9a9a9a;
}


.half.vertical {
    padding: 30% 0;
    height: 0px;
}

.text-center{
    text-align: center;
}

#left-value{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#right-value{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#angle-value, #speed-value{
    position: absolute;
    font-size: 20px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

table {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

table th {
    text-align: left;
}