body{
    font-family: 'Arial';
    padding: 0px;
    margin:0px;
    background-color: #172b3c;
    color: #212225;
}

h1, h2, h3, h4{
    font-family: 'Georgia';
}

#app{
    background-color: #fff;
}

@media (min-width: 540px) {

    #app{
        max-width: 400px;
        margin: 50px auto;
        border-radius: 5px;
        background: #fff;
        overflow: hidden;
        padding-bottom: 15px;
    }

}

.container{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.content{
    padding: 0 15px;
    box-sizing: border-box;
}

#topbar{
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
}

#topbar h1#title{
    padding: 12px 0;
    margin: 0px;
    font-size: 24px;
}

#topbar span {
    position: absolute;
    left: 125px;
    top: 14px;
    font-size: 12px;
}

#angle{
    padding: 0;
    margin: auto;
    display: block;
}

#joystick{
    width: 100%; 
    height: 300px; 
    background-color: #ddd; 
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#joystick span{
    display: block;
    padding-top: 140px;
    color: #a5a5a5;
    cursor: pointer;
}

#left-value{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#right-value{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#angle-value{
    position: absolute;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

table th {
    text-align: left;
}